# Core functionality - changes here should be rare!
/src/app.py                   @yuya0408
/src/backend/database.py      @yuya0408
/src/backend/routers/auth.py  @yuya0408

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yuya0408
